/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
}

body {
    width: 60%;
    margin: auto;
    background-image: url(img/BG.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
/*

section {
    height: 100vh;
}
*/

h1 {
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    color: #17191A;
}

h3 {
    font-size: 35px;
    font-weight: 400;
    color: #17191A;
}

h4 {
    font-size: 30px;
    font-weight: 400;
    color: #17191A;
}

h5 {
    font-size: 25px;
    font-weight: 400;
    color: #17191A;
    
    margin-top: 10px;
}

p {
    color: #8f9ea5;
    /*opacity: 0.8;*/
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;    
}

.blue {
    color: #027BFF;
}

/* NAV */
.nav {
    display: flex;
    align-items: center;
    height: 100px;
}

.contact-me, .nav-icons {
    flex: 1;
}

.nav-icons {
    text-align: right;
}

.nav-icons a, .contact-me a, .contact-me img {
    display: inline-block;
    vertical-align: middle;
}

.nav-icons a {
    margin-left: 35px;
    font-size: 30px;
    color: #8f9ea5;
}

.contact-me a {
    text-decoration: none;
    font-weight: 600;
    color: #027BFF;
}

.contact-me img {
    margin-right: 10px;
}

/* LANDING */
.landing {
    height: 100vh;
    position: relative;
}

.landing-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}

.landing-left {
    margin-top: 4em;
}

.scroll {
    position: absolute;
    bottom: 180px;
    left: 0; right: 0;
    margin: auto;
}

/* SKILLS */

.skills {
    text-align: center;
    padding-top: 5em;
    margin-bottom: 20em;
}

.skills p {
    margin-bottom: 30px;
}

.skills img {
    height: 80px;
    margin: 0 15px;
}

/* WORK */
.work {
    width: 100%;
    position: relative;
    margin-bottom: 20em;
}

.work > .work-text {
    position: absolute;
    top: 85px;
}

.work > .work-text > .underline {
    display: block;
    background-color: #027bff;
    height: 3px;
    width: 60px;
    margin-left: 5px;
}

.work > .work-img {
    width: 85%;
    float: right;
    box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.66);
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.66);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.66);
}

.work ul {
    position: absolute;
/*    bottom: 0;*/
    bottom: 50vh;
    right: 86%;
}

.work ul li {
    margin-top: 20px;
}


.work a {
    text-decoration: none;
    color: #17191a;
}

/* FOOTER */
.footer {
    background-image: url(img/Dribbble_Blue_Large.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 320px;
    padding-bottom: 7em;
    text-align: center;
}

.footer a {
    color: #027bff;
    text-decoration: none;
}

.underline-small {
    display: block;
    height: 3px;
    width: 41px;
    margin: 5px auto 0 auto;
    background-color: #027bff;
}

.action {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
/*    margin: 20px;*/
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    
    border-radius: 10px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
/*    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);*/
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.action:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;    
}

.action:focus {
    outline: none;
}

.btn-grad {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%)
}

.btn-grad:hover {
    background-position: right center;
}

#mouse-scroll {
    style: block;
}

#mouse-scroll {
  position: absolute;
/*
  left: 50%;
  top: 80px;
*/
    left: 50%;
    bottom: 180px;
    margin: auto;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #333; 
  border-bottom: 2px solid #333;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #333;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite:
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-delay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  -moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
